**/node_modules
npm-debug.log
.git
.github
*.md
LICENSE
.eslintrc.js
.editorconfig
.prettierignore
.mocharc.cjs
packages/*/test
packages/*/docs
temp
workdir
packages/nexrender-core/test/workpath/
*.zip
*.mp4
*.png
*.jpg
.DS_Store
Thumbs.db
